# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
venv/
env/
*.env

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Build
dist/
build/
*.egg-info/
*.bak

# Sensitive files
*.key
*.pem
*.crt
*.db
*.sqlite
*.sqlite3

# Others
*.swp
*.tmp
*.lock
*.pdf
/PDFS
*.spec